.message {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: fit-content;
}

.message__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.message__time {
  margin: 0 5px;
  font-size: 12px;
  color: rgb(70, 70, 70);
}

.message__author {
font-size: 10px;
}

.message__text {
  width: auto;
  margin: 0;
  padding: 8px;
  background-color: rgba(75, 138, 255, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
