.chat {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.chat__container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.chat_messages {
  min-height: 80vh;
  overflow: auto;
}

.chat__form {
  display: flex;
}

.chat__input {
  flex-grow: 1;
}