.chat {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.chat__users {
  border-right: 1px solid rgba(75,138,255,.1);
}
.chat__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.chat__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #346cfa;
  box-shadow: 0px 2px 20px  grey
}
.chat__copy {
  background-color: transparent;
  background: url(../../img/copy.svg);
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  margin-left: 5px;
}

.chat__copy:hover{
  cursor: pointer;
  opacity: 0.8;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  overflow: auto;
}

.chat__form {
  display: flex;
}

.chat__input {
  margin-bottom: 1px;
  outline: none;
  border: none;
  font-size: 1rem;
  height: 1.3rem;
  border-bottom: 2px solid rgba(75, 138, 255, 0.5);
  flex-grow: 1;
}